<div id="page-wrapper">
    <div id="page">
        <main id="content" class="column main-content" role="main">
            <section class="section">
                <a id="main-content"></a>
                {{ faq }}
            </section>
        </main>
    </div>
</div>
